div div{
    color: orange;
}
div{
    color: green;
}











/* ----------------- */
/* div{
    color: chocolate !important;
}
div {
    color: green !important; 
    padding: 8px
}

div {
    color: blue;
    background-color: var(--lt-color-gray-400)
}


 */








/* ------------------------------ */
/* #nombre { 
    color: blue; 
}
div { 
    color: red; 
}
.nombreClase { 
    color: green; 
}
#nombre { 
    color: orange; 
} */


/* ----------------------- */
/* div {
    color: red;
    padding: 8px;
}
  
div {
    color: blue;
    background-color: grey
} */